@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carousel-contact {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid transparent;
    margin-top: 5%;
    margin-left: 7%;
    font-family: 'Spartan', sans-serif !important;
}